.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.labelLocation {
    color: rgba(16, 24, 40, 0.6);
    font-size: 16px;
    font-weight: 500;
}

.inputBox {
    position: relative;
}

.iconLocation {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    stroke-opacity: 60%;
}

.locationInput {
    width: 298px;
    height: 20px;
    padding: 18px 18px 18px 44px;
    border-radius: 10px;
    border: none;
    background-color: #F7F7F7;
}



/* filter */

.filterWrapper {
    display: flex;
    flex-direction: column;
}

.filterSpan {
    color: #475467;
    margin-bottom: 14px;
}

.filterEquipment{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 24px;
    color: #101828;
    width: 360px;
    height: 24px;
    padding-bottom: 24px;
    border-bottom: solid 1px rgba(16, 24, 40, 0.1);
}

.equipmentList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 360px;
}
.equipmentItem {
    justify-content: center;
    align-items:center
}

.equipmentItem_ac {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 110px;
    height: 93px;
    border: solid 1px rgba(16, 24, 40, 0.2);
    border-radius: 10px;
}

.equipmentItem_automatic {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 113px;
    height: 93px;
    border: solid 1px rgba(16, 24, 40, 0.2);
    border-radius: 10px;
} 

.equipmentItem_kitchen {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 111px;
    height: 93px;
    border: solid 1px rgba(16, 24, 40, 0.2);
    border-radius: 10px;
}

.equipmentItem_tv {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 110px;
    height: 93px;
    border: solid 1px rgba(16, 24, 40, 0.2);
    border-radius: 10px;
}

.equipmentItem_shower {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 112px;
    height: 93px;
    border: solid 1px rgba(16, 24, 40, 0.2);
    border-radius: 10px;
}

.equipmentItem_van {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 98px;
    height: 93px;
    border: solid 1px rgba(16, 24, 40, 0.2);
    border-radius: 10px;
}

.equipmentItem_fully {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 126px;
    height: 93px;
    border: solid 1px rgba(16, 24, 40, 0.2);
    border-radius: 10px;
}

.equipmentItem_alcove {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 110px;
    height: 93px;
    border: solid 1px rgba(16, 24, 40, 0.2);
    border-radius: 10px;
}

.equipmentSpan{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #101828;
}

.checkbox {
    position: absolute;
    opacity: 0;
}